{% extends 'about.html' %}

{% block about_2 %}
<div class="col-md-9">
       {% for post in posts %}
      <article>
        <hr>
        <div class="row">
          <div class="col">
            <a class="h1" href="#" style="color:lightskyblue">{{ post.title }}</a>
            <p class="text-justify" style="color:white">{{ post.content }}</p>
          </div>
          <div class="col-md-3 d-flex flex-column">
            <img class="rounded-circle mx-auto" src="#" data-src="holder.js/64x64" width="64px" height="64px">
            <p class="text-muted text-center">{{ post.author.username }}</p>
          </div>
        </div>
        <small class="text-muted" style="color:white">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </article>
       {% endfor %}
     </div>

{% endblock %}
