{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('index') }}"><h1 class="name" style="color:white">Introduction</h1></a>
  <br><br><br>
  <div class="row">
    <div class="col-xs-3" style="position:relative; left:50px;">
      <p><img src="static/aboutus.png" height="50" alt="About us"></p>
      <br><br><br><br><br><br><br><br><br><br>
      <p><img src="static/history.png" height="50" alt="History"></p>
    </div>
    <div class="col-xs-3" style="position:relative; left:800px;">
      <a class="button" href="{{ url_for('description') }}"><img src="static/members.png" height="50" alt="Members"></a>
    </div>
  </div>
</div>

{% endblock %}