{% extends 'home.html' %}

{% block register %}
<div class="container">
    <form action = "/regi" method = "post">
        <div style="color:white; float:right; font-size:16pt; padding:5px;">Id: <input type="text" name="username" placeholder="username" ></div>
        <br><br>
        <div style="color:white; float:right; font-size:16pt; padding:5px;">Email: <input type="text" name="email" placeholder="email" ></div>
        <br><br>
        <div style="color:white; float:right; font-size:16pt; padding:5px;">Password: <input type="text" name="password" placeholder="password"></div>
        <input type="submit" value="Register" size="50px" style="position:relative; left: 1150px; height:35px; width:90px; font-size:15pt;">
    </form>
</div>
{% endblock %}