{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('about1') }}"><h1 style="color:white">Cecom 활동</h1></a>
  <div class="row">
    <div class="col-md-9">

    </div>
    <aside class="col-md-2.8 my-3" style="float: right" >
      <ul>
        <h2 style="background color: black"></h2>
        <a class="list-group-item" href="{{ url_for('description') }}">Members</a>
        <a class="list-group-item" href="#" style="color:orange">First Semester</a>
        <a class="list-group-item" href="#" style="color:red">Summer Vacation</a>
        <a class="list-group-item" href="#" style="color:green">Second Semester</a>
        <a class="list-group-item" href="#" style="color:purple">Winter Vacation</a>
      </ul>
    </aside>
  </div>
</div>

{% endblock %}