{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('about') }}"><h1 class="name" style="color:white">Cecom 활동</h1></a>
  <div class="row" style="position:relative; left:40px;">
     <div class="col-md-9">
       {% for post in posts %}
      <article>
        <hr>
        <div class="row">
          <div class="col">
            <a class="h1" href="#" style="color:lightskyblue">{{ post.title }}</a>
            <p class="text-justify" style="color:white">{{ post.content }}</p>
          </div>
          <div class="col-md-3 d-flex flex-column">
            <img class="rounded-circle mx-auto" src="#" data-src="holder.js/64x64" width="64px" height="64px">
            <p class="text-muted text-center">{{ post.author.username }}</p>
          </div>
        </div>
        <small class="text-muted" style="color:white">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </article>
       {% endfor %}
     </div>

    {% block aside %}
    <aside class="col-md-2.8" style="position:relative; left:50px" >
      <ul>
        <h2 style="color: white; padding-top:15px;">Index</h2>
        <a class="list-group-item" href="{{ url_for('description') }}">Members</a>
        <a class="list-group-item" href="#" style="color:orange">First Semester</a>
        <a class="list-group-item" href="#" style="color:red">Summer Vacation</a>
        <a class="list-group-item" href="#" style="color:green">Second Semester</a>
        <a class="list-group-item" href="#" style="color:purple">Winter Vacation</a>
      </ul>
    </aside>
    {% endblock %}
  </div>
</div>
{% endblock %}