{% extends 'layout.html' %}

{% block content %}

<ul class="container">
    <h1 style="color:white">About Cecom</h1>
    <br>
    <h2 style="color:lightskyblue; position:relative; right:10px;">- Members</h2>
  <div class="row" style="position:relative; left:40px;">
    <div class="col-md-8">
      {% for user in users %}
      <article>
        <hr>
        <div class="row">
          <div class="col">
            <a class="h1" href="#" style="color:white">{{ user.username }}</a>
            <p class="text-justify" style="color:white">{{ user.email }}</p>
          </div>
          <div class="col-md-2 d-flex flex-column">
            <img class="rounded-circle mx-auto" src="#" data-src="holder.js/64x64" width="64px" height="64px">
            <p class="text-muted text-center">id: {{ user.id }}</p>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
      <aside class="col-md" style="position:relative; left:50px">
        <form action = "/description" method = "post">
          <p style="color:white; float:right;">Id: <input type="text" name="delete_username" placeholder="delete_username" ></p>
          <br><br>
          <p style="color:white; float:right;">Password: <input type="text" name="password" placeholder="password"></p>
          <br><br>
          <input type="submit" value="Delete" size="50px" style="position:relative; right:5pt; height:35px; width:80px; font-size:14pt; float:right;">
        </form>
      </aside>
  </div>
</ul>

{% endblock %}