{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('index') }}"><h1 style="color:white">Cecom 활동</h1></a>
  <br><br><br>
  <div class="row">
    <div class="col-xs-3">
      <a class="button" href="{{ url_for('about') }}"><img src="static/first.png" height="50" alt="First Semester"></a>
    </div>
      <br>
    <div class="col-xs-3">
    <a class="button" href="{{ url_for('about') }}"><img src="static/summer.png" height="50" alt="Summer Vacations"></a>
    </div>
      <br>
    <div class="col-xs-3">
    <a class="button" href="{{ url_for('about') }}"><img src="static/second.png" height="50" alt="Second Semester"></a>
    </div>
      <br>
    <div class="col-xs-3">
    <a class="button" href="{{ url_for('about') }}"><img src="static/winter.png" height="50" alt="Winter Vacations"></a>
    </div>
  </div>
</div>

{% endblock %}