{% extends 'home.html' %}

{% block login %}
<div class="container">
    <form action = "/login" method = "post">
        <p style="color:white; float:right; font-size:16pt;">Id: <input type="text" name="username" placeholder="username" ></p>
        <br><br><br>
        <p style="color:white; float:right; font-size:16pt;">Password: <input type="text" name="password" placeholder="password"></p>
        <input type="submit" value="Login" size="50px" style="position:relative; left: 1150px; height:40px; width:80px; font-size:16pt;">
    </form>
</div>
{% endblock %}

