{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1><br></h1>
    <a class="button" href="{{ url_for('description') }}"><img src="static/name.png" height="500" alt="CECOM"></a>
    {% if session['logged_in'] %}
    <h1 style="color:white; float:right">hi, you're logged in!</h1>
</div>
    {% else %}
<div class="container">
    <form action = "/regi" method = "post">
        <p style="color:white; float:right; font-size:16pt;">Id: <input type="text" name="username" placeholder="username"></p>
        <br><br><br>
        <p style="color:white; float:right; font-size:16pt;">Email: <input type="text" name="email" placeholder="email"></p>
        <br><br><br>
        <p style="color:white; float:right; font-size:16pt;">Password: <input type="text" name="password" placeholder="password"></p>
        <input type="submit" value="Register" style="position:relative; left: 1150px;height:40px; width:90px; font-size:15pt;">
    </form>
</div>
    {% endif %}
{% endblock %}

{% block register %}{% endblock %}